{% extends "network/layout.html" %}

{% block body %}
    {% if profile_username is not None %}
        <h1>{{ profile_username }}'s Profile</h1>
        <p>Followers: {{ follower_count }}</p>
        <p>Following: {{ following_count }}</p>
        {% if request.user.is_authenticated and request.user.username != profile_username %}
            {% if is_following %}
                <form action="{% url 'unfollow' profile_username %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Unfollow</button>
                </form>
            {% else %}
                <form action="{% url 'follow' profile_username %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Follow</button>
                </form>
            {% endif %}

        {% endif %}
    {% endif %}
    {% for post in posts %}
        <article class="media content-section" style="background-color: lightgray; border-radius: 20px; padding: 10px; margin: 10px;">
                <div class="article-metadata" style="border-bottom: none;">
                    <small class="text-muted">{{ post.date_posted|date:"d F, Y" }}</small>
                    <div>
                        <h4 class="mr-2 author_title">Post by: <a href="{% url 'profile' post.author %}">{{ post.author }}</a></h4>
                        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>
                        <p>Likes: {{ post.likes }}</p>
                    </div>
                </div>
        </article>
    {% endfor %}
    <div>
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
{% endblock %}