{% extends "network/layout.html" %}
{% load static %}

{% block title %}
    Post Details
{% endblock %}

{% block body %}
    <article class="media content-section" style="background-color: lightgray; border-radius: 20px; padding: 10px; margin: 10px;">
        <div class="article-metadata" style="border-bottom: none;">
            <small class="text-muted">{{ post.date_posted|date:"d F, Y" }}</small>
            <h4 class="mr-2 author_title">Post by: {{ post.author }}</h4>
            <h2 class="article-title">{{ post.title }}</h2>
            {% if post.author == user %}
            <form>
                {% csrf_token %}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <button class="btn btn-primary btn-sm mt-1 mb-1" id="edit" onclick="editPost('{{ post.id }}')" class="text-primary" type="button">Edit</button>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
            </form>        
            {% endif %}
            <div>
                <textarea class="form-control mb-2" id="edit-box" style="display:none;">{{ post.content }}</textarea>
                <p id="content" class="article-content">{{ post.content }}</p>
                <button id="edit-btn" class="btn btn-primary" style="display:none; margin-bottom: 5px;" type="button">Save</button>
            </div>
            <button class="btn btn-primary" id="like-btn-{{post.id}}" onclick="like('{{ post.id }}')">Like</button>
            <div id="like-count-{{post.id}}">{{ post.likes }}</div>
        </div>
    </article>
{% endblock body %}